# http://www.gnu.org/software/automake

Makefile
Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache/
/aclocal.m4
/config.*
/configure

libtool
ltmain.sh
stamp-h?

.deps/
.dirstamp
.libs/
*.l[ao]
*~

# Object files
*.o

# Libraries
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Executables
*.out

# vim
*.swp

# doxygen
/doxygen-html/

# src
*.hh

# binary
ddc

# usr
/build
CMakeLists.txt
.idea/
scripts/

# m4
m4/l*.m4
/cmake-build-debug/
