# make
Makefile

# Object files
*.o

# Libraries
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Executables
*.out

# vim
*.swp

# doxygen
/doxygen-html/

# binary
test/hello

# Clion
/cmake-build-debug/
.idea/
